* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

main {
  display: flex;
  flex-direction: row;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 90vh;
  flex-grow: 1;
}

.content * {
  margin-top: 5%;
  padding-left: 5%;
  padding-right: 45%;
}

aside > img {
  height: 99.4vh;
  flex-grow: 0;
  width: 40vw;
  padding-right: 3%;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }

.footer {
    display: flex;
    position: absolute;
    justify-content: flex-end;
    bottom: 0;
    width: 39%;
    height: 8%;
}

.footer > button {
    width: 10%;
    border: none;
    background-color: white;
    height: 100%;
}
